{% extends "layout.html" %}
{% block content %}
<div class="content-section">
  <form method="POST" action="">
    <form method="POST" action="">
      {{ form.hidden_tag() }}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Enter a seed word/sentence and select book.</legend>
        <div class="form-group">
          {{ form.seed.label(class="form-control-label") }}
          {% if form.seed.errors %}
            {{ form.seed(class="form-control form-control-lg is-invalid") }}
            <div class="invalid-feedback">
              {% for error in form.seed.errors %}
                <span> {{error}} </span>
              {% endfor %}
            </div>
          {% else %}
            {{ form.seed(class="form-control form-control-lg") }}
          {% endif %}
        </div>
        <div class="form-group">
          {{ form.book.label(class="form-control-label") }}
          {{ form.book(class="form-control form-control-lg") }}
        </div>
      </fieldset>
      <div class="form-group">
        {{ form.submit(class="btn btn-outline-info") }}
      </div>
  </form>
</div>
{% endblock content %}